node_modules
*.code-workspace
public/dist
public/e2e
public/node_modules
*.editorconfig
*.gitignore
public/angular.json
public/package.json
public/README
public/tsconfig.json
public/tslint.json
public/src/assets
public/src/environments
public/src/browserslist*
public/src/favicon*
public/src/index.html
public/src/karma.conf.js
public/src/main.ts
public/src/polyfills.ts
public/src/styles.css
public/src/test.ts
public/src/tsconfig.app.json
public/src/tsconfig.spec.json
public/src/tslint.json
