<section class="hero is-black">
    <div class="hero-body">
        <p class="title">RestFul Tasks</p>
    </div>
</section>
<section class="container">
    <p style="display:none;">{{pokemon}}</p>
    <p>{{ pokemon.name }}</p>
    <p>{{ pokemon.order }}</p>
    <ul *ngFor="let x of pokemon.abilities">
        <li>{{x.ability.name}}</li>
    </ul>
    <ul *ngFor="let n of pokemon.types">
        <li>
            {{ n.type.name }}
        </li>
    </ul>
    <img src="{{ pokemon.sprites.front_shiny }}">
    <img src="{{ pokemon.sprites.front_default }}">
</section>
<section class="container">
    <button class="button" (click)="getTasksFromService()">GET ALL TASKS</button>
</section>
<section class="container">
    <div class="columns">
        <div class="column" *ngFor="let task of tasks">
            <p class="title is-6">{{task.title}}</p>
            <button class="button" (click)="showTaskDetails($event)" value='{{task._id}}'>Details</button>
            <button class="button" (click)="delTask($event)" value='{{task._id}}'>Delete</button>
        </div>
    </div>
    <form class="container" (submit) = "editTask()" *ngIf="details != null" >
        <p class="title is-5">Details</p>
        <input type = "text" name = "details.description" [(ngModel)]="details.description" />
        <input type = "hidden" name = "details._id" [(ngModel)]="details._id"/>
        <input type = "submit" value = "Edit Task"/>
    </form>
</section>
<section class="container">
    <p class = "title">Form</p>
    <form (submit)="onSubmit()">
        <!-- use the json pipe to see how newTask changes in real time -->
        <p> {{ newTask | json }} </p>
        <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
        <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
        <input type="submit" value="Create Task" />
    </form>
</section>



<!-- pokemon.types[n].type.name -->
<!-- <button (click)="onButtonClick()" >Click me!</button>
    <button (click)="onButtonClickParam(5)">Click me!</button>
    <button (click)="onButtonClickParams(5, 'hello')">Click me!</button>
    <button (click)="onButtonClickEvent($event)">Click me!</button>-->
<!-- <button class = "button" (click)="findTask('5b4c239c613eb80500b9acc8')">1</button>
<button class = "button" (click)="findTask('5b4c24da613eb80500b9acca')">1</button>
<button class = "button" (click)="findTask('5b4c256d446f511a64e790e3')">1</button>
<button class = "button" (click)="findTask('5b4c2585446f511a64e790e4')">1</button> -->
<!-- <button value = "5b4c239c613eb80500b9acc8">1</button>
<button value = "5b4c24da613eb80500b9acca">2</button>
<button value = "5b4c256d446f511a64e790e3">3</button>
<button value = "5b4c2585446f511a64e790e4">4</button> -->